<mat-card>
  <mat-card-title>Datos</mat-card-title>
  <form>
    <mat-form-field>
      <input matInput placeholder="Inversion Inicial" [(ngModel)]="initialValue" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;    
    <mat-form-field>
      <input matInput placeholder="Costo Anual de Operación" [(ngModel)]="operationCost" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <input matInput placeholder="Número de periodos" (input)="onNperiodChange()" [(ngModel)]="periods" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <input matInput placeholder="Valor de rescate" [(ngModel)]="returnValue" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <input matInput placeholder="Interes del periodo" [(ngModel)]="returnValue" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field>
    <input matInput placeholder="TIR" [(ngModel)]="roi" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;

    <button mat-raised-button>Calcular</button>

    <app-flux *ngFor="let n of fluxList"></app-flux>


  </form>
  <mat-card>
    <mat-card-title>Resultados</mat-card-title>
    <mat-form-field>
      <input matInput placeholder="VNA" >
    </mat-form-field>
  </mat-card>
</mat-card>

