<form>
  <input placeholder="Inversion Inicial" [(ngModel)]="initialValue" [ngModelOptions]="{standalone: true}">
  <input placeholder="Costo Anual de Operación" [(ngModel)]="operationCost" [ngModelOptions]="{standalone: true}">
  <input placeholder="Número de periodos" (input)="onNperiodChange()" [(ngModel)]="periods"
         [ngModelOptions]="{standalone: true}">
  <input placeholder="Valor de rescate" [(ngModel)]="returnValue" [ngModelOptions]="{standalone: true}">
  <input placeholder="Interes del periodo" [(ngModel)]="returnValue" [ngModelOptions]="{standalone: true}">
  <input placeholder="TIR" [(ngModel)]="roi" [ngModelOptions]="{standalone: true}">
  <input type="button">

  <app-flux *ngFor="let n of fluxNumbers" (changeModel)="onFluxChange($event, n)"></app-flux>

  <ng-container *ngFor="let fm of fluxList">
    <p> {{ fm.amount + 1 }} </p>
  </ng-container>

  {{ JSON.stringify(this.fluxList) }}


</form>


