<mat-card>
        <mat-card-title>Futuro/Presente</mat-card-title>
        <form>
            <p>Tasa</p>
            <mat-form-field>
                <input matInput [(ngModel)]="tasa" [ngModelOptions]="{standalone: true}" (input)="onValueChange()"><br>
            </mat-form-field>
            <p>Futuro</p>
            <mat-form-field>
                <input matInput [(ngModel)]="futuro" [ngModelOptions]="{standalone: true}" (input)="onValueChange()"><br>
            </mat-form-field>
            <p>Presente</p>
            <mat-form-field>
                <input matInput [(ngModel)]="presente" [ngModelOptions]="{standalone: true}" (input)="onValueChange()"><br>
            </mat-form-field>
            <p>Respuesta: {{res}}</p>
        </form>
    </mat-card>