<form>
  <mat-form-field>
    <input matInput decimal dataType="numeric" placeholder="cantidad" (input)="onChange()" [(ngModel)]="model.amount" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput decimal dataType="numeric" placeholder="desde" (input)="onChange()" [(ngModel)]="model.from" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput decimal dataType="numeric" placeholder="hasta" (input)="onChange()" [(ngModel)]="model.to" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</form>
