<form>
  <mat-form-field>
    <input matInput decimal dataType="numeric" placeholder="amount" (input)="onChange()" [(ngModel)]="model.amount" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput decimal dataType="numeric" placeholder="from" (input)="onChange()" [(ngModel)]="model.from" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <input matInput decimal dataType="numeric" placeholder="to" (input)="onChange()" [(ngModel)]="model.to" [ngModelOptions]="{standalone: true}">
  </mat-form-field>
</form>
