<mat-card>
        <mat-card-title>Anualidad/Futuro</mat-card-title>
        <form>
            <p>Tasa</p>
            <mat-form-field>
                <input matInput [(ngModel)]="tasa" [ngModelOptions]="{standalone: true}" (input)="onValueChange()"><br>
            </mat-form-field>
            <p>Periodos</p>
            <mat-form-field>
                <input matInput [(ngModel)]="periodos" [ngModelOptions]="{standalone: true}" (input)="onValueChange()"><br>
            </mat-form-field>
            <p>Futuro</p>
            <mat-form-field>
                <input matInput [(ngModel)]="futuro" [ngModelOptions]="{standalone: true}" (input)="onValueChange()"><br>
            </mat-form-field>
            <p>Respuesta: {{res}}</p>
        </form>
    </mat-card>